<div class="container col-6">
  <div class="d-flex justify-content-center flex-column p-4">
    <h1 class="text-center">Edit article</h1>
    <div>
      <%= render 'articles/form', article: @article %>
    </div>
    <%= link_to "Back", root_path, class: "btn btn-secondary mt-2"  %>
  </div>
</div>
