<div class="container col-6">
  <div class="d-flex justify-content-center flex-column p-4">
    <h1 class="text-center">Show</h1>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= @article.title %></h2>
        <p><%= @article.content %></p>
      </div>
    </div>
    <%= link_to "Back", root_path, class: "btn btn-secondary"  %>
  </div>
</div>
